@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

@import "tailwindcss";
@plugin "daisyui" {
   themes: light --default, dark --prefersdark, cupcake;
}

@plugin "daisyui/theme" {
   name: "light";
   default: true;
   --color-primary: #3c65f5;
   --color-secondary: #05264e;
   --color-accent: #7f757d;
}

body {
   font-family: "Plus Jakarta Sans", sans-serif;
}
